<h3>Selected parts of cookie</h3>
<ul>
    <li>Base: {{cookie.base}} - {{pricify (find-price bases cookie.base)}}  PLN</li>
    {{#each cookie.addons}}
        <li>{{this}} - {{pricify (find-price @root.addons this)}}  PLN <a class="btn btn-small" href="/configurator/delete-addon/{{this}}">
        Delete</a></li>
    {{/each}}

    <p>
        <strong>Total of {{pricify sum}}</strong>
    </p>
</ul>